.object {
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }

  &__text {
    font-size: 11px;
    margin: 0;

    & span {
      display: block;
      font-size: 14px;
    }

    &-price {
      font-size: 14px;
    }
  }
}