@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0.5rem 0 200px 0;
}

.text,
.MuiFormControlLabel-label {
  font-family: 'Montserrat', sans-serif !important;
  color: #737373;
}

.subtitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  border: 1px solid #737373;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-sizing: border-box;
  position: relative;
}

.count {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  padding: 1rem 0 0 0;
  margin: 0;
  border-top: 1px solid #737373;

  & span {
    font-size: 18px;
    font-weight: 400;
  }
}